<ion-view>
	<ion-nav-title class="light">
		{{meeting.name | shorttext: 20}}
	</ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear " ng-class="buttonCss(meeting.status)" ng-click="manageMeeting(meeting.status)">
      Manage
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="goToReservations()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>

	<ion-content scroll="false" class="has-header" has-bouncing="false">
    <ion-slide-box style="height: 42%;" on-slide-changed="slideHasChanged($index)">
		  <ion-slide>
		  	<div class="card roomDetail-card" >
			<!--overlay room info-->
			  <div class="item item-text-wrap">
			    <h1>{{meeting.roomName | shorttext: 20}}</h1>
			     {{meeting.location}} {{meeting.floorName}}
			     <p>{{meeting.start}} to {{meeting.end}}</p>
			     <p class="assertive">{{meeting.status}}</p>
			  </div>
			</div>
			  <img ng-src="{{getImage(meeting.siteID, meeting.img)}}" class="slide-img"/>
		  </ion-slide>
		  <ion-slide>
        <!--LARA 11Feb16: added fullscreen toggle-->
        <button ng-hide="meeting.xLocation === -1 && meeting.yLocation === -1" ng-style="{'position':'absolute', 'left': meeting.xLocation + 'px', 'top': meeting.yLocation + 'px'}" class="button-balanced button-icon icon ion-android-pin balanced" ng-click="fullScreen(getImage(meeting.siteID, meeting.floor))"></button>
			  <img ng-src="{{getImage(meeting.siteID, meeting.floor)}}" class="slide-img" ng-click="fullScreen(getImage(meeting.siteID, meeting.floor))"/>
		  </ion-slide>
		</ion-slide-box>
    <div ng-if="meeting.remarks">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-information-outline"></i>
        <span class="item-text-wrap">{{ meeting.remarks }}</span>
      </a>
    </div>

    <ion-segment ng-model="categories" full="true"  calm>
      <ion-segment-button value="attendees">
        Attendees
      </ion-segment-button>
      <ion-segment-button value="services">
        Services
      </ion-segment-button>
    </ion-segment>

    <div ng-switch="categories">
      <div class="list" ng-switch-when="attendees">
        <ion-item class="item item-divider">
          <p>{{meeting.count}}</p>
        </ion-item>
          <ion-scroll class="available-attendees-height">
            <ion-item ng-repeat="a in meeting.attendees" href="#" ng-click="attendeeInfo(a)" class="item-icon-right">
               <span class="item-text-wrap">
                 {{$index+1}}. &nbsp;{{a.name}}
               </span>
            <i ng-if="a.num" class="icon ion-ios7-information-outline"></i>
            </ion-item>
          </ion-scroll>
      </div>

      <div class="list" ng-switch-when="services">
        <ion-item class="item item-divider">
          <p>{{meeting.sCount}}</p>
        </ion-item>
        <ion-scroll class="available-attendees-height">
          <ion-item ng-repeat="s in meeting.services" href="#" class="item-icon-right">
            <span class="item-text-wrap">
                {{$index+1}}. &nbsp;{{s.content}}
            </span>
            <span class="item-note">
                {{s.comment}}
            </span>
          </ion-item>
        </ion-scroll>
      </div>
    </div>

	</ion-content>
</ion-view>

<script id="modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar bar-header bar-calm" align-title="center">
      <h1 class="title">Attendees</h1>
      <div class="button button-clear"></div>
      <button class="button button-clear" ng-click="addAttendees()">
        Add
      </button>
      <button class="button button-icon icon ion-ios-plus-empty" ng-click="addAttendee(attendee.email)" ng-disabled="attendee.email === ''">
      </button>
    </ion-header-bar>
    <ion-content scroll="true" class="has-header" has-bouncing="false">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input name="email" type="email" ng-model="attendee.email" required>
        </label>
      </div>

      <ion-list show-delete="true">
        <ion-item ng-repeat="email in attendeeList track by $index">
          {{$index+1}}. &nbsp; {{ email }}
          <ion-delete-button class="ion-minus-circled"
                             ng-click="onAttendeeDelete(email)"></ion-delete-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</script>
